$lightest: #bfc8ad;
$light: #90b494;
$dark: #718f94;
$darkest: #351551;
$modalBack: rgba(84, 87, 117);

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center-space-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin weather-info-box {
  height: 50vh;
  width: 50vh;
  max-height: 300px;
  max-width: 300px;
  border: 1rem solid $dark;
  border-radius: 1rem;
  padding: 1rem;
  @include flex-column-center-space-evenly;
  background-color: $lightest;
  box-shadow: 5px 5px 5px $darkest;
  margin-top: 5vh;
  color: $dark;
  @media (min-width: 600px) and (orientation: landscape) {
    height: 50vw;
    width: 50vw;
  }
}
